<h1>Editing deal</h1>

<% form_for(@deal) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.label :exp_date %><br />
    <%= f.date_select :exp_date %>
  </p>
  <p>
    <%= f.label :showclaimed %><br />
    <%= f.check_box :showclaimed %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @deal %> |
<%= link_to 'Back', deals_path %>