<div id="footer">
  <ul class="navigation round">
    <li><%= link_to "http://www.dealontheway.com", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "Help", help_path %></li>
    <li><%= link_to "Terms", terms_path %></li>
  </ul>
</div>
